@{
    ViewData["Title"] = "Inland Marina Contact Info";
}

<div class="container px-4 py-5 jus" id="icon-grid">
    <h2 class="pb-2 border-bottom text-center">Contact Us!</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 justify-content-center">
      <div class="col d-flex align-items-start">
            <i class="bi bi-building text-body-secondary flex-shrink-0 me-3" style="font-size: 1.75em;"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Address</h3>
                <p>
                    <address>
                        Inland Lake Marina<br />
                        Box 123<br />
                        Inland Lake, Arizona<br />
                        86038<br />
                    </address> 
                </p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
            <i class="bi bi-telephone text-body-secondary flex-shrink-0 me-3" style="font-size: 1.75em;"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Office Phone</h3>
                <p>Call us for General information: </p>
                <a href="tel:928-555-2234">928-555-2234</a>
        </div>
      </div>

      <div class="col d-flex align-items-start">
            <i class="bi bi-cart text-body-secondary flex-shrink-0 me-3" style="font-size: 1.75em;"></i>
            <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Leasing</h3>
          <p>Call for leasing opportunities: </p>
                <a href="tel:928-555-2235">928-555-2235</a>
        </div>
      </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-printer text-body-secondary flex-shrink-0 me-3" style="font-size: 1.75em;"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Fax</h3>
                <p>Contact via FAX: </p>
                <a href="fax:928-555-2236">928-555-2236</a>
            </div>
        </div>


      <div class="col d-flex align-items-start">
            <i class="bi bi-file-earmark-person text-body-secondary flex-shrink-0 me-3" style="font-size: 1.75em;"></i>
            <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Manager</h3>
          <p>Glen Cooke</p>
        </div>
      </div>

        
      <div class="col d-flex align-items-start">
            <i class="bi bi-file-earmark-person text-body-secondary flex-shrink-0 me-3" style="font-size: 1.75em;"></i>
            <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Slip Manager</h3>
          <p>Kimberly Carson</p>
        </div>
      </div>


      <div class="col d-flex align-items-start">
            <i class="bi  bi-mailbox text-body-secondary flex-shrink-0 me-3" style="font-size: 1.75em;"></i>
            <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Email</h3>
                <p><a href="mailto:info@inlandmarina.com">info@inlandmarina.com</a></p>
        </div>
      </div>
    </div>
 </div>  
   
