html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#carouselInland {
    height: 600px; /* Set the desired height for the carousel */
}

#carouselInland .carousel-inner {
    height: 100%; /* Ensure the inner container fills the height */
}

#carouselInland .carousel-item img {
    object-fit: fill; /* Scale images to cover the area without distortion */
    height: 100%; /* Make sure the image fills the height of the carousel */
    width: 100%; /* Ensure images fill the width */
}

header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a custom shadow */
}
